<div id="model_test_panel" class="panel">

  <div id="panel-wrapper">
    <div id='panel-body'>
      <center><h2>New Project</h2></center>
      <%= link_to (image_tag "back-arrow64x64.png", :class => "back_arrow"), projects_path %>

      <%= render 'form' %>

    </div>
  </div>
</div>