<div id="model_test_panel" class="panel">

  <div id="panel-wrapper">
    <div id='panel-body'>
      <center><h2>Model Test Generator</h2></center>

      render form here

    </div>
  </div>

</div>
